    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
             <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update task attributes</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <div class="modal-body">
                        <form  class="addTask-form" method="post">
                                    <input type="text" id="editVal" name="editVal" placeholder="Enter task title" size="50">
                                    <input type="text" id="dummyVal" name="dummyVal" hidden>
                                    <input type="text" id="headerID" name="headerID" hidden>
                                </div>
                    <div class="modal-footer">
                        <button id="modal_button" type="submit" class="btn btn-secondary" formaction="/update" onclick = "const document = $(event.target.ownerDocument)[0]; var id = event.target.classList[2]; console.log(id); document.getElementById('dummyVal').setAttribute('value',id) ; document.getElementById('exampleModal').classList.remove(id)">Update Task</button>
                    </div>
                </form>
                </div>
            </div>
        </div>    
        