<div class="landing">
    <div class="content-landing">
        <h1>Plan your day today</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="landing-sticky">
        <img src="assets/sticky-note.jpg" alt="login-sticky">
        <h3><a href="/taskrepository">Proceed without sign up</a></h3>
        <hr><p>Quick Sign-in</p>
        <button class="btn btn-primary">Sign up with Google</button>
        <form action="/" method="post" class="signup-form">
            <p><label>Or use your email address</label></p>
           <p><input type="text" name="fName" placeholder="Your first name" required><span>
            <input type="text" name="lName" placeholder="Your last name" required></p></span>
            <p><input type="email" name="emailaddr" placeholder="Your email address" size="46%" required></p>
            <p><input type="password" name="password" placeholder="Pick a password" size="46%" required></p>
            <p><input type="tel" name="mobile" placeholder="Your mobile number" size="46%"></p>
            <p><input type="submit" name="submit"></p>
            <%if (locals.opMsg){  %> <%- opMsg %> <% } %>
        </form>
    </div>
    
</div>